{% extends 'base.html.twig' %}

{% block title %}Paradox{% endblock %}

{% block body %}
<div class="row flex-grow-1 d-flex align-items-center justify-content-center mx-0">
    <div class="col-11 col-sm-10 col-md-8 col-lg-6 text-center">
        <h1 class="display-2 fw-normal mb-4">Paradox</h1>
        <p class="fs-3 text-secondary mb-5">Le voyage à votre portée</p>
        <a href="{{ path('blog_index') }}" class="btn btn-minimal-solid btn-lg">Découvrir les articles</a>
    </div>
</div>
{% endblock %}
