security:
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        api:
            pattern: ^/api
            lazy: true
            provider: app_user_provider
            access_denied_url: /access-denied
            form_login:
                login_path: api_login
                check_path: api_login
                default_target_path: /api
                enable_csrf: true
            logout:
                path: api_logout
                target: api_login
            user_checker: App\Security\UserChecker
        main:
            lazy: true
            provider: app_user_provider
            access_denied_url: /access-denied
            form_login:
                login_path: app_login
                check_path: app_login
                default_target_path: home
                enable_csrf: true
            logout:
                path: app_logout
                target: home
            user_checker: App\Security\UserChecker

    access_control:
        - { path: ^/access-denied, roles: PUBLIC_ACCESS }
        - { path: ^/api/login, roles: PUBLIC_ACCESS }
        - { path: ^/api, roles: ROLE_ADMIN }
        - { path: ^/admin, roles: ROLE_ADMIN }
        - { path: ^/profile, roles: ROLE_USER }

when@test:
    security:
        password_hashers:
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4
                time_cost: 3
                memory_cost: 10
